{% extends 'plantilla.html' %} {% block content %}
<main id="main-content" class="flex-fill container py-5">
  <h2 class="text-center fw-bold">Listado de Clientes</h2>

  <a href="{% url 'nuevoCliente' %}" class="btn btn-success mb-3"
    >Nuevo Cliente</a
  >

  <table id="tabla_clientes" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>email</th>
        <th>telefono</th>

        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for c in clientes %}
      <tr>
        <td>{{c.nombre }}</td>
        <td>{{c.email }}</td>
        <td>{{c.telefono }}</td>

        <td>
          <a
            href="{% url 'editarCliente' id=c.id %}"
            class="btn btn-warning btn-sm"
            >Editar</a
          >
          <a
            href="{% url 'eliminarCliente' id=c.id %}"
            class="btn btn-danger btn-sm"
            onclick="return confirm('¿Estás seguro de eliminar a {{ c.nombre }}?');"
            >Eliminar</a
          >
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %} 
{% block scripts %}
<script>
$(document).ready(function () {
    $('#tabla_clientes').DataTable({
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'copy',
                className: 'btn btn-secondary btn-sm',
                exportOptions: { columns: ':not(:last-child)' }
            },
            {
                extend: 'excel',
                className: 'btn btn-success btn-sm',
                exportOptions: { columns: ':not(:last-child)' }
            },
            {
                extend: 'csv',
                className: 'btn btn-info btn-sm',
                exportOptions: { columns: ':not(:last-child)' }
            },
            {
                extend: 'pdf',
                className: 'btn btn-danger btn-sm',
                exportOptions: { columns: ':not(:last-child)' }
            }
        ],
        lengthChange: false
    });
});
</script>
{% endblock %}
